<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8"/>
        <title>用户管理</title>
    </head>
    <body>
        <style>
            td {
                padding: 10px;
            }
        </style>
        <table border="1" cellspacing="0">
            <% list.forEach(function(item) { %>
                <tr>
                    <td><%= item.name %></td>
                    <td><%= item.userName %></td>
                    <td>
                        <a href="/manager/delete_user?userId=<%= item.userName %>">删除</a>
                    </td>
                </tr>
            <% }) %>
        </table>
       
    </body>
</html>