<!DOCTYPE html>
<html>
    <head>
        <title>日常文档</title>
        <meta charset="utf8"/>
        <link rel="stylesheet" href="/static/index/index.css" />
    </head>
    <body>
        <script src="/static/jquery.min.js"></script>
        <div class="header">
            <a href="/publish_page" target="__blank" class="public-btn">发布文章</a>
            <span><%= userName %> (<%= userId %>) </span>
            <a href="javascript:void(0)" id="exit">退出</a>
        </div>
        <div class="micro-article"> 
            <div class="content-input">
                <input type="hidden" class="author-input" id="author" value="<%= userName %>" disabled />
                <textarea class="content-textarea" id="content"></textarea>
            </div>
            <div class="input-button">
                <span class="button" id="submit">发布</span>
            </div>
            <div class="content-list" id="list">
            </div>
        </div>
        <div class="article-list">
            <h4>文章列表</h4>
            <div id="articleList">
            </div>
        </div>
        
        <script src="/static/index/index.js"></script>
    </body>
</html>